snippet c1 "One Line Comment" !b
;********************************************************************************;
endsnippet

snippet cb "Comment Block" !b
;********************************************************************************;
; ${1:@author ${2:Ben Chuanlong Du}}
; ${3:@description $4}
;********************************************************************************;
endsnippet

snippet '^hs' "Description" !r
:${1:O}:${2:abbr}::${3:hotstring}
endsnippet

