
snippet "\ble\b" "<=" r
<=
endsnippet

snippet ge ">=" w
>=
endsnippet

snippet eq "==" w
==
endsnippet

snippet ne "!=" w
!=
endsnippet

snippet "\binc(r(e(a(s)?)?)?)?" "+=" r
+=
endsnippet

snippet "\bdec(r(e(a(s)?)?)?)?" "+=" r
-=
endsnippet

snippet /3 "Comment Block" b
/*
$1
*/
endsnippet

snippet "b(r(e(a)?)?)?" "break a loop" rb
break
endsnippet

snippet "c(o(n(t(i(n(u)?)?)?)?)?)?" "continue a loop" rb
continue
endsnippet

