global !p
from complete import *
endglobal

priority 10
snippet "(?i)\bne|!=|~=|^=" "Not Equal" r
<> 
endsnippet

priority 10
snippet "(?i)\beq|==" "Equal" r
= 
endsnippet

priority 10
snippet "(?i)\bq(u(e(u(e)?)?)?)?" "Equal" r
$1`!p snip.rv = complete(t[1], opts = ['hddq-commrce-mktmisc', 'hddq-exprce-sscience', 'hddq-exprce-orgmrktg', 'hdlq-commrce-default', 'hdlq-exprce-default'])`
endsnippet
