
snippet #!
`!p snip.rv = '#!/bin/' + getShell() + "\n" `
endsnippet

snippet #!b
#!/usr/bin/env bash
endsnippet

snippet !env "#!/usr/bin/env (!env)"
`!p snip.rv = '#!/usr/bin/env ' + getShell() + "\n\n" `
endsnippet

