
priority 1
snippet "(?i)\bc(r(o(w(d)?)?)?)? ?f(l(o(w(e(r)?)?)?)?)?" "CrowdFlower" r
CrowdFlower
endsnippet

priority 1
snippet "(?i)\bh(u(m(a(n)?)?)?)? ?j(u(d(g(e(m(e(n(t)?)?)?)?)?)?)?)?" "Human Judgement" r
Human Judgement
endsnippet

priority 1
snippet "(?i)\bqu" "QU" r
QU
endsnippet

priority 1
snippet "(?i)\bq(u)? ?id" "QU ID" r
QU ID
endsnippet

priority 1
snippet "(?i)\bs(a(m(p(l(i(n(g)?)?)?)?)?)?)? ?id" "Sampling ID" r
Sampling ID
endsnippet
