
########################
# ENUM, DESCR, ITEMIZE #
########################
snippet "\\?e(n(u(m(e(r(a(t(e)?)?)?)?)?)?)?)?" "Enumerate Environment" rb
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet "\\?i(t(e(m(i(z(e)?)?)?)?)?)?" "Itemize" rb
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet "\\?d(e(s(c(r(i(p(t(i(o(n)?)?)?)?)?)?)?)?)?)?" "Description" rb
\begin{description}
	\item[$1] $0
\end{description}
endsnippet

