

snippet lp "Long parenthesis" 
\left(${1:${VISUAL:contents}}\right)$0
endsnippet

snippet ( "Parenthesis" i
($1)
endsnippet

snippet { "Curly Brace" i
{$1}
endsnippet

snippet \{ "Curly Brace" i
\{$1\}
endsnippet

snippet \\{ "Literal Curly Brace" i
\\{$1\\}
endsnippet
