
snippet "%" "Coment Line" b
%--------------------------------------------------------------------------------
endsnippet

snippet "%3|c3" "3-Line Comment" br
%--------------------------------------------------------------------------------
% $1
%--------------------------------------------------------------------------------
endsnippet


snippet "cb" "Comment Block" b
%--------------------------------------------------------------------------------
% @author ${1:Ben Chuanlong Du}
% @description $2
% @param $3
% @return $4
% @summary $5
%--------------------------------------------------------------------------------
endsnippet

