
snippet "%" "Coment Line" rb
%--------------------------------------------------------------------------------
endsnippet

snippet "\b%3|\bc3" "3-Line Comment" rb
%--------------------------------------------------------------------------------
% $1
%--------------------------------------------------------------------------------
endsnippet


snippet "\bcb" "Comment Block" rb
%--------------------------------------------------------------------------------
% @author ${1:Ben Chuanlong Du}
% @description $2
% @param $3
% @return $4
% @summary $5
%--------------------------------------------------------------------------------
endsnippet

