
snippet "read table|read.table|dlmread" "Function dlmread" wr
dlmread(${1:file});
endsnippet

snippet "write table|write.table|dlmwrite" "Function dlmwrite" wr
dlmwrite(${1:file}, ${2:obj}${3:, 'precision', ${4:15}});
endsnippet

snippet "read file|fread|scan" "Function fread" wr
fread(${1:fileHandle}, ${2:Inf}, ${3:'double'});
endsnippet

snippet "f(i(l(e)?)?)?.|io." "File Related Functions" w
$1`!p snip.rv = complete(t[1], ["fread", "fopen", "fprintf"])`
endsnippet

