
snippet "\bread table|\bread.table|\bdlmread" "Function dlmread" r
dlmread(${1:file});
endsnippet

snippet "\bwrite table|\bwrite.table|\bdlmwrite" "Function dlmwrite" r
dlmwrite(${1:file}, ${2:obj}${3:, 'precision', ${4:15}});
endsnippet

snippet "\bread file|\bfread|\bscan" "Function fread" r
fread(${1:fileHandle}, ${2:Inf}, ${3:'double'});
endsnippet

snippet "\bf(i(l(e)?)?)?\.|\bio\." "File Related Functions" r
$1`!p snip.rv = complete(t[1], ["fread", "fopen", "fprintf"])`
endsnippet

