global !p
from complete import *
endglobal

snippet "fun(c(t(i(o(n)?)?)?)?)?" "Function Definition" br
function ${1:rv} = ${2:funname}(${3:arg1})
	$4
endsnippet

snippet "Inf|inf" "Infinity" wr
Inf
endsnippet

snippet "[" "[]" w
[$1]
endsnippet
