
snippet "disp|cat|print" "Function disp" rw
disp(${1:message});
endsnippet

snippet "strcat|paste" "Function strcat" wr
strcat(${1:s1}, ${2:s2});
endsnippet

snippet "num2str|n2s|toString|tostring|string|str" "Function num2str" wr
num2str(${1:number});
endsnippet

snippet " "Literal String" w
'${1:type a string}'
endsnippet

