
snippet "\bdisp|\bcat|\bprint" "Function disp" r
disp(${1:message});
endsnippet

snippet "\bstrcat|\bpaste" "Function strcat" r
strcat(${1:s1}, ${2:s2});
endsnippet

snippet "\bnum2str|\bn2s|\btoString|\btostring|\bstring|\bstr" "Function num2str" r
num2str(${1:number});
endsnippet

snippet " "Literal String" w
'${1:type a string}'
endsnippet

