# date and time
snippet d/ "Date in mm/dd/yyyy" w
`!v strftime("%m/%d/%Y")`
endsnippet

snippet d- "Date in yyyy-mm-dd" w
`!v strftime("%Y-%m-%d")`
endsnippet

snippet d, "Date in mmm dd, yyyy" w
`!v strftime("%b %d, %Y")`
endsnippet

snippet dns "Date in yyyymmdd" w
`!v strftime("%Y%m%d")`
endsnippet

snippet tns "Date in yyyymmddhhmmss" w
`!v strftime("%Y%m%d%H%M%S")`
endsnippet

