
global !p
from complete import *
endglobal

priority 1
snippet "\blgd" "LGD" r
LGD
endsnippet

priority 1
snippet "\bmoody's" "Moody's" r
Moody's
endsnippet

priority 10
snippet "(?i)\bheloc" "HELOC" r
HELOC
endsnippet

priority 1
snippet "\bb(u(s(i(n(e(s(s)?)?)?)?)?)?)?\." "Business" r
$1`!p snip.rv = complete(t[1], opts=["Amazon", "Ebay", "New Egg"])`
endsnippet

