
global !p
from complete import *
endglobal

snippet "\bmax_e(l(e(m(e(n(t)?)?)?)?)?)?" "std::max_element" r
std::max_element(${1:first}, ${2:last}${3:, ${4:comparator}})
endsnippet

snippet "\bmin_e(l(e(m(e(n(t)?)?)?)?)?)?" "std::min_element" r
std::min_element(${1:first}, ${2:last}${3:, ${4:comparator}})
endsnippet

priority 1
snippet "\balgo(r(i(t(h(m)?)?)?)?)?\." "STL Algorithms" r
std::$1`!p snip.rv = complete(t[1], file="cpp/algorithm.json")`
endsnippet

