
global !p
from complete import *
endglobal

priority 2
snippet ":?:pai(r)?<" "std::pair" r
std::pair<${1:Type_1}, ${2:Type_2}>
endsnippet

priority 1
snippet "\bpai(r)?<" "std::pair" r
pair<${1:Type_1}, ${2:Type_2}>
endsnippet

priority 2
snippet ":?:tup(l(e)?)?<" "std::tuple" r
std::tuple<${1:Type_1}, ${2:Type_2}, ${3:Type_3}>
endsnippet

priority 1
snippet "\btup(l(e)?)?<" "std::tuple" r
tuple<${1:Type_1}, ${2:Type_2}, ${3:Type_3}>
endsnippet
