
global !p
from complete import *
endglobal

priority 2
snippet "(?i):run(t(i(m(e(_(e(r(r(o(r)?)?)?)?)?)?)?)?)?)?" "std::runtime_error" r
throw std::runtime_error(${1:error_message});
endsnippet

priority 1
snippet "(?i)\brun(t(i(m(e(_(e(r(r(o(r)?)?)?)?)?)?)?)?)?)?" "std::runtime_error" r
throw runtime_error(${1:error_message});
endsnippet

snippet "\bthrow" "std::throw" rb
throw std::$1`!p snip.rv = complete(t[1], opts=["runtime_error"])`
endsnippet
