
global !p
from complete import *
endglobal

priority 1
snippet "\b\.for(w(a(r(d(_(l(i(s(t)?)?)?)?)?)?)?)?)?" "Members of forward_list" r
.$1`!p snip.rv = complete(t[1], file="cpp/forward_list.json")`
endsnippet

priority 1
snippet "forw(a(r(d(_(l(i(s(t)?)?)?)?)?)?)?)?\." "Members of std::forward_list" r
${2:forward_list_object}.$1`!p snip.rv = complete(t[1], file="cpp/set.json")`
endsnippet

