
global !p
from complete import *
endglobal

priority 1
snippet "^#in(c(l(u(d(e)?)?)?)?)?" "#include" r
#include <$1`!p snip.rv = complete(t[1], ["chrono", "algorithm", "fstream", "iostream", "list", "map", "pair", "random", "set", "string", "tuple", "unordered_map", "unordered_set", "utility", "vector"])`>
endsnippet

