
global !p
from complete import *
endglobal

priority 2
snippet "\b\.qu(e(u(e)?)?)?" "Members of std::queue" r
.$1`!p snip.rv = complete(t[1], "cpp/queue.json")`
endsnippet

priority 1
snippet "\bqu(e(u(e)?)?)?\." "Members of std::queue" r
${2:queue_object}.$1`!p snip.rv = complete(t[1], "cpp/queue.json")`
endsnippet

