
global !p
from complete import *
endglobal

priority 2
snippet "\b\.set" "Members of std::set" r
.$1`!p snip.rv = complete(t[1], file="cpp/set.json")`
endsnippet

priority 1
snippet "\bset\." "Members of std::set" r
${2:set_object}.$1`!p snip.rv = complete(t[1], file="cpp/set.json")`
endsnippet

