global !p
from complete import *
endglobal

snippet "i(m(p(o(r(t)?)?)?)?)?" "import" rb
import $1`!p snip.rv = complete(t[1], ["argparse", "datetime", "getopt", "nltk", "numpy", "os", "subprocess", "warnings", "shutil", "hashlib", "sys"])`
endsnippet
