
snippet 'c1|/1|/\*1' "Description" !rb
/*${1: }*/
endsnippet

snippet 'c2|/2|/\*2' "Description" !rb
/*${1: }
*/
endsnippet

snippet 'c3|/3|/\*3' "Description" !rb
/*
${1: }
*/
endsnippet

snippet '\/\*|cb' "Comment Block" !rb
/*
${1:@author ${2:Ben Chuanlong Du}}
${3:@description $4} 
${5:@param $6}
${7:@return $8}
${9:@write $10}
*/
endsnippet

