
global !p
from complete import *
endglobal

# do; ... end;
snippet "do end block|db" "Do End Block" br
do;
    ${1:...}
end;
endsnippet

snippet if "If Statement" !b
if ${1:condition} then do;
	$2;
end;
endsnippet

snippet ife "If Else Statement" !b
if ${1:condition} then do;
	$2;
end; else do;
	$3;
end;
endsnippet

snippet "do" "do Auto Completion" br
$1`!p snip.rv = complete(t[1], ["do end block", "do loop", "do until loop", "do while loop"])`
endsnippet

