
global !p
from complete import *
endglobal

# do; ... end;
snippet "\bdo end block|\bdb" "Do End Block" rb
do;
    ${1:...}
end;
endsnippet

priority 2
snippet "\bif" "If Statement" rb
if ${1:condition} then do;
	$2;
end;
endsnippet

snippet "\bife" "If Else Statement" rb
if ${1:condition} then do;
	$2;
end; else do;
	$3;
end;
endsnippet

snippet "\bdo" "do Auto Completion" rb
$1`!p snip.rv = complete(t[1], ["do end block", "do loop", "do until loop", "do while loop"])`
endsnippet

