
snippet "fun(c(t(i(o(n)?)?)?)?)?" "Function Definition in FCMP" rb
function ${1:f}(${2:arg1}${3:$})${4:$};
    $5
    return(${6:rv});
endsub;
endsnippet

snippet "sub(r(o(u(t(i(n(e)?)?)?)?)?)?)?" "Subroutine Definition FCMP" rb
subroutine ${1:f}(${2:arg1}${3:$})${4:$};
    $5
    return(${6:rv});
endsub;
endsnippet

