

priority 1
snippet "err(o(r)?)?" "Output an Error Message in the Log" rb
%put Error: ${1:error_message};
endsnippet

priority 1
snippet "warn(i(n(g)?)?)?" "Output a Warning Message in the Log" rb
%put Warning: ${1:warning_message};
endsnippet

priority 1
snippet "note" "Output a Note Message in the Log" rb
%put Note: ${1:note_message};
endsnippet

