
# library snippets

priority 2
snippet "\beq" "Equal" r
=
endsnippet

priority 2
snippet "\bne" "Negate" r
^=
endsnippet

priority 2
snippet "\bnot" "NOT" r
^
endsnippet

priority 2
snippet "\bor" "OR" r
|
endsnippet

priority 2
snippet "\band" "AND" r
&
endsnippet

priority 2
snippet "\bin" "IN" r
value in (v1, v2, v3)
endsnippet

