
# library snippets

priority 2
snippet "(?i)\beq" "Equal" r
=
endsnippet

priority 2
snippet "(?i)\bne" "Negate" r
^=
endsnippet

priority 2
snippet "(?i)\bnot" "NOT" r
^
endsnippet

priority 2
snippet "(?i)\bor" "OR" r
|
endsnippet

priority 2
snippet "(?i)\band" "AND" r
&
endsnippet

priority 2
snippet "(?i)\bin" "IN" r
value in (v1, v2, v3)
endsnippet

