
# library snippets

priority 2
snippet "\bne" "Negate" r
^=
endsnippet

priority 2
snippet "\bnot" "NOT" r
^
endsnippet

priority 2
snippet "\bor" "OR" r
|
endsnippet

priority 2
snippet "\band" "AND" r
&
endsnippet

