
global !p
from complete import *
endglobal

priority 1
snippet "(?i)\bstd|\bstdev|\bsd|\bst(a(n(d(a(r(d)?)?)?)?)?)? ?dev(i(a(t(i(o(n)?)?)?)?)?)?" "Standard Deviation" r
std(${1:matrix/vector/column/values});
endsnippet
