
global !p
from complete import *
endglobal

snippet "(?i)\bt(r(u(e)?)?)?" "TRUE" r
TRUE
endsnippet

snippet "(?i)\bf(a(l(s(e)?)?)?)?" "FALSE" r
FALSE
endsnippet

snippet "\bb(o(o(l(e(a(n)?)?)?)?)?)?\." "Boolean Values" r
$1`!p snip.rv = complete(t[1], opts=["FALSE", "TRUE"])`
endsnippet

