
global !p
from complete import *
endglobal

priority 3
snippet "\btrue|T" "TRUE" r
TRUE
endsnippet

priority 3
snippet "\bfalse|F" "FALSE" r
FALSE
endsnippet

priority 1
snippet "\bb(o(o(l(e(a(n)?)?)?)?)?)?\." "Boolean Values" r
$1`!p snip.rv = complete(t[1], opts=["FALSE", "TRUE"])`
endsnippet

