
priority 1
snippet "\bidentity matrix|\bi|\beye|\bdiag" "Identity Matrix" r
diag(x=${1:1}, ${2:nrow}, ${3:ncol})
endsnippet

priority 1
snippet "\bmatrix|\bj" "Fill a Matrix" r
matrix(data=${1:NA}, nrow=${2:1}, ncol=${3:1}${4:${5:, byrow=${6:FALSE}}${7:, dimnames=${8:NULL}}})
endsnippet

priority 1
snippet "\bcoln(a(m(e(s)?)?)?)?" "Column Names" r
colnames(${1:x}${2:${3:, do.NULL=${4:TRUE}}${5:, prefix="${6:col}"}})${7: = ${8:column_names}}  
endsnippet
