global !p
from complete import *
endglobal

snippet true "TRUE" w
TRUE
endsnippet

snippet false "FALSE" w
FALSE
endsnippet

snippet b. "Boolean Values" w
$1`!p snip.rv = complete(t[1], ["FALSE", "TRUE"])`
endsnippet

snippet if "If" b
if(${1:condition}){
	$2
}
endsnippet

snippet "identity matrix|i|eye|diag" "Identity Matrix" rw
diag(x=${1:1}, ${2:nrow}, ${3:ncol})
endsnippet

snippet "fun(c(t(i(o(n)?)?)?)?)?" "Define a Function" rb
${1:fun_name} = function(${2:arg}){
	${3:}
}
endsnippet

