
global !p
from complete import *
endglobal

priority 1
snippet "(?i)\bsys(t(e(m)?)?)?\." "System Related Functions" rb
$1`!p snip.rv = complete(t[1], file="system.json")`
endsnippet

priority 1
snippet "(?i)\bSys\.getenv" "Description" r
Sys.getenv(x=${1:chr_vector_or_null}${2:, unset=${3:""}}${4:, names=${5:NA}})
endsnippet
